* {
  box-sizing: border-box;
  font-family: 'Comic Sans MS', serif;

}

body {
    display: block;
    margin: 0px;
    padding: 0px;
}

h1 {
  margin-bottom: 15px;
  font-size: 1.75em;
}

body {
    display: block;
    margin: 8px;
}

.box{
  border: 3px solid black;
}
div {
	display: block;
  background-color: darkgray;

  border: 3px solid white;
	position: relative;
	height: 10em;
}

span {
  margin: 0px;
  border: 3px solid black;
  background-color: blue;
  width: 40%;
  color: white;
  text-align: center;
  font-size: 1.25em;
  display: table;
  position: absolute;
  right: -3px;
  top: -3px;
}

p {
  width: 96%;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  color: black;
  
  position: relative;
  right: 0px;
  top: 30px;
}

h1 {
	text-align: center;
}

.title1{
	background: darkred;
}

.title2{
	background: purple;
}

.title3{
	background: darkblue;
}


/********** Browser **********/
@media (min-width: 992px) {
  .col-lg-4 {
  	float: left;
    width: 33.33%;
  }
  div {
	height: 15em;
	}
}

/********** Tablet view devices **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
    margin-bottom: 12px;
  }
  .col-md-12 {
    width: 100%;
  }


  div {
	height: 15em;
	}
	div.col-md-12 {
	height: 8em;
	}
}

/********** Mobile view devices **********/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
  }
  .cell{
    margin-bottom: 12px;
    height: 12em; 
  }
  .box{
    height: 12em; 
  }
  .col-sm-12 {
    clear: both;
    width: 100%;
  }
}
